[submodule "backend"]
	path = backend
	url = https://github.com/Developer-Akademie-GmbH/conduit-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Developer-Akademie-GmbH/conduit-frontend
