BACKEND_URL=http://localhost:5000
ALLOWED_HOSTS=localhost
CORS_ORIGIN=http://localhost:8282
DEBUG=False
SECRET_KEY='2^f+3@v7$v1f8yt0!s)3-1t$)tlp+xm17=*g))_xoi&&9m#2a&'
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
